<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management</title>
</head>
<body>
<h1>Product List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
